.about {
  width: 100%;

  &__top {
    @include grid;
    padding: 140px 0 200px;
  }

  &__left {
    grid-column: 1 / 4;
  }

  &__right {
    grid-column: 5 / 13;
  }

  &__title {
    font-size: 64px;
    line-height: 83px;
    font-weight: 700;

    &-middle {
      font-size: 32px;
      line-height: 41px;
    }

    &-bottom {
      font-size: 32px;
      line-height: 41px;
    }
  }

  &__subtitle {
    font-size: 18px;
    line-height: 27px;
    font-weight: 400;
  }

  &__img {
    min-width: 880px;

    height: 100%;
    min-height: 450px;

    background: #eaecef;
  }

  &__middle {
    background: #eaecef;

    padding: 66px 56px;
    margin: 0 auto;
  }

  &__block {
    display: flex;
    gap: 16px;

    padding: 40px 0 0;
  }

  &__bottom {
    padding: 200px 0 212px;
  }

  &__paragraph {
    font-weight: 700;
    font-size: 72px;
    line-height: 93px;

    padding: 40px 0 0;
  }
}
