.discover {
  height: 100%;

  padding: 61px 0 160px;
  background: #fbfbfd;

  &__wrapper {
    width: 100%;
    height: 100%;

    @include grid;
  }

  &__title {
    grid-column: 1 / 5;
    font-size: 64px;
    line-height: 83px;
    font-weight: 700;
  }

  &__search {
    grid-column: 1 / 4;
    grid-row: 3;

    padding: 40px 32px;
    height: 100%;
    width: 100%;
    max-height: 532px;

    background: #ffffff;
    border-radius: 16px;
    border: 1px solid #eaecef;
  }

  &__input {
    width: 100%;
    padding: 12px 16px;

    border: none;
    outline: none;
    background: #dfe2e6;
    border-radius: 12px;
  }

  &__sort {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    gap: 16px;

    grid-column: 9 / 13;
    grid-row: 2;

    &-list {
      display: flex;
      align-items: center;

      grid-column: 4 / 13;

      min-height: 100%;
    }
  }

  &__list {
    grid-column: 4 / 13;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    gap: 16px;
  }
}
