.footer {
  height: 100%;
  background: #eef0ef;
  box-sizing: border-box;

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 327px;
    max-height: 327px;

    padding: 53px 0 32px;
  }

  &__top {
    display: flex;
    justify-content: space-between;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 16px;

    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
  }

  &__item {
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;

    &-link {
      text-decoration: none;
      color: inherit;
    }
  }

  &__logo {
    line-height: 56px;
    font-size: 32px;
  }

  &__subtitle {
    font-size: 18px;
    line-height: 21px;
    font-weight: 500;
  }

  &__left {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  &__right {
    display: flex;
    gap: 63px;
  }

  &__botom {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__block {
    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: 28px;
  }

  &__rights {
    font-size: 14px;
    line-height: 16px;
    color: #7c7e7f;
  }
}
