@font-face {
  font-family: 'Mont';
  src: url('../../fonts/Poppins-Medium.woff2');
}

@font-face {
  font-family: 'Mont';
  src: url('../../fonts/Poppins-Regular.woff2');
}

@font-face {
  font-family: 'Mont';
  src: url('../../fonts/Poppins-Bold.woff2');
}

@font-face {
  font-family: 'Mont';
  src: url('../../fonts/Poppins-SemiBold.woff2');
}
